.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: center;
}
.line{
  height: 1px;
  background-color: gray;
  margin-bottom: 15px;
  width: full;
}

.modal-box {
  background: white;
  border-radius: 12px;
  padding: 28px 24px 22px 24px;
  width: 900px;
  max-width: 95vw;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.modal-header h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0;
}

.close-btn {
  background: none;
  font-size: 24px;
  border: none;
  color: gray;
  cursor: pointer;
}

.stepper {
  display: flex;
  align-items: center;
  font-size: 17px;
  margin-bottom: 24px;
  color: gray;
}

.step {
  display: flex;
  align-items: center;
  gap: 7px;
  color: gray;
  font-weight: 500;
}

.step.active {
  color: black;
  font-weight: 600;
}

.step.active .step-circle {
  background: #2056a8;
  color: white;
}

.step-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 600;
}

.step-arrow {
  margin: 0 14px;
  color: gray;
  font-size: 22px;
  display: flex;
  align-items: center;
}

.curriculum-table {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.table-header, .table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
}

.table-header {
  font-weight: 600;
  font-size: 14px;
  color: black;
}

.table-row {
  position: relative;
}

.table-row select {
  width: 100%;
  padding: 10px 38px 10px 14px;
  border: 1.5px solid gray;
  border-radius: 8px;
  background: white;
  font-size: 16px;
  color: gray;
  appearance: none;
  outline: none;
}

.table-row select:focus {
  border-color: black;
}

.select-arrow {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #b8a47a;
  font-size: 20px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}

.modal-actions > div {
  display: flex;
  gap: 10px;
}

.back-btn, .clear-btn, .save-btn {
  padding: 8px 20px;
  font-size: 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.back-btn {
  background: #fff;
  border: 1px solid gray;
  color: #666;
}

.clear-btn {
  background: #fff;
  border: 1px solid gray;
  color: #666;
}

.save-btn {
  background: #1a73e8;
  color: #fff;
  font-weight: 600;
  transition: 0.2s;
}

.save-btn:hover {
  background: #145ec2;
}
